* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p, h2, h1 {
    color: white;
}

@font-face {
    font-family: "Aremat";
    src: url("/fonts/aremat font.ttf"),
         url("/fonts/aremat font.otf");
}

h2, h1 {
    font-family: Aremat, serif;
}

body {
    background-color: rgb(0,46,54);
}

.video-picture {
    width: 100%;
    height: auto;
    display: inline-block;
}

.videoframe {
    width: 20%;
    margin: 0 2.5% 0 2.5%;
}

.video-banner {
    display: flex;
    flex-direction: row;
}